'scopeName': 'text.gfm-org-checkbox-coloring'
'name': 'Org + Checkboxes'
'injectionSelector': 'comment, text.plain'
'fileTypes': [
  # 'md',
  # 'gfm',
  'org',
  'journal'
]
'patterns': [
  # {include: 'source.gfm'}
  ## {include: 'source.gfm.rmarkdown'}  # From language-rmarkdown package
  # {include: 'text.md'}  # from language-markdown package
  {
    'match': '^\\s*[\\-\\*\\+]\\s*\\[ {0,1}\\](?=\\s)'
    'name': 'storage.type.class.checkbox-todo'
  }
  {
    'match': '^\\s*[\\-\\*\\+]\\s*\\[[Xx]\\] '
    'name': 'storage.type.class.checkbox-done'
  }
  {
    'match': '^\\s*[\\-\\*\\+]\\s*\\[>\\] '
    'name': 'storage.type.class.checkbox-next'
  }
  {
    'match': '^\\s*[\\-\\*\\+]\\s*\\[<\\] '
    'name': 'storage.type.class.checkbox-migrated'
  }
  {
    'match': '^\\s*[\\-\\*\\+]\\s*\\[[/]\\] '
    'name': 'storage.type.class.checkbox-right_now'
  }
  {
    'match': '^\\s*[\\-\\*\\+]\\s*\\[[0Oo]\\] '
    'name': 'storage.type.class.checkbox-waiting'
  }
  {include: 'source.org-mode'}
]
