.syntax--checkbox-todo,
.syntax--checkbox-next,
.syntax--checkbox-migrated,
.syntax--checkbox-right_now,
.syntax--checkbox-waiting,
.syntax--checkbox-done, {
  font-weight: bold;
  background-color: darken(@syntax-background-color, 5%);
  font-family: monospace;
  font-size: 1.05em;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.syntax--checkbox-todo {
  color: red !important;
}

.syntax--checkbox-right_now {
  color: green !important;
}

.syntax--checkbox-next{
  color: blue !important;
}

.syntax--checkbox-migrated{
  color: mediumpurple !important;
}

.syntax--checkbox-waiting {
  color: orange !important;
}

.syntax--checkbox-done {
  color: lightgreen !important;
}

.syntax--checkbox-strikethrough {
  color: #82d882 !important;  // Slightly darker than lightgreen
}

.syntax--strikethrough-text {
  text-decoration: line-through;
}
