.syntax--todo,
.syntax--next,
.syntax--right_now,
.syntax--waiting,
.syntax--done, {
  font-weight: bold;
  // background-color: darken(@syntax-background-color, 5%);
  font-family: monospace;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.syntax--todo {
  color: red !important;
}

.syntax--next {
  color: blue !important;
}

.syntax--right_now {
  color: lightgreen !important;
}

.syntax--waiting {
  color: orange !important;
}

.syntax--done {
  color: green !important;
}
